<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="cont in tournament" ng-value="cont">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#{{cont.tournament_name}}">
                                {{cont.tournament_name}} <span class="glyphicon glyphicon-log-in" ng-click="subTournament(cont)" style="cursor:pointer; color: red; float: right;"> Subscribe</span>
                            </a>
                        </h4>
                    </div>
                    <div id="{{cont.tournament_name}}" class="panel-collapse collapse in">
                        <div>
                            <button type="button" class="btn btn-default btn-block" ng-repeat="sel in cont.matches" ng-value="sel" ng-click="openNaration(sel)">{{sel.match_name}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div ng-show="naration">
                <div class="col-md-4">
                    <h3>match</h3>
                    <h4>player1 score VS score player2</h4>
                    <h4>Location:</h4>
                    <h4>Date:</h4>
                    <button type="button" class="btn btn-lg btn-warning">LIVE!</button>
                </div>
                <div class="col-md-4">
                    <h3>Match information</h3>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Live feed</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>