<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="contain in adminTournament" ng-value="contain">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#{{contain.tournament_name}}">
                                {{contain.tournament_name}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{contain.tournament_name}}" class="panel-collapse collapse in">
                        <div>
                            <button type="button" class="btn btn-default btn-block" ng-repeat="selection in contain.matches" ng-value="selection">{{selection.match_name}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input class="btn btn-lg btn-warning btn-block" type="button" ng-click="goTour()" value="Create Tournament" style="font-size: small;">
            </div>
        </div>
        <div class="col-md-9">
            <h3>Naraciooooooooooooooooooooooooooooooooooooooooooooon</h3>
        </div>
    </div>
</div>