<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="contain in adminTournament" ng-value="contain">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#{{contain.tournament_name}}">
                                {{contain.tournament_name}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{contain.tournament_name}}" class="panel-collapse collapse in">
                        <div>
                            <button type="button" class="btn btn-default btn-block" ng-repeat="selection in contain.matches" ng-value="selection" ng-click="openNaration(selection)">{{selection.match_name}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input class="btn btn-lg btn-warning btn-block" type="button" ng-click="goTour()" value="Create Tournament" style="font-size: small;">
            </div>
        </div>
        <div class="col-md-9">
            <div ng-show="naration">
                <div class="col-md-4">
                    <h3>Match: {{matchName}}</h3>
                    <h4>player1 score VS score player2</h4>
                    <h4>Location:</h4>
                    <h4>Date:</h4>
                    <button type="button" class="btn btn-lg btn-warning">LIVE!</button>
                </div>
                <div class="col-md-4">
                    <h3>Match information</h3>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Live feed</h4>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>