<!DOCTYPE html>
<html lang="en">
<head>

    <title>X-FIFA Fantasy Cup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src="Index.js"></script>
    <link rel="stylesheet" href="Index.css" />

</head>
<body ng-app="loginApp" ng-controller="rootCont">
    <div ng-show="showItem">
        <h1>X-FIFA Fantasy Cup</h1>
    </div>
    <nav class="navbar navbar-inverse" ng-show="showItem">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li><a href="#!/userCalendar">Calendar</a></li>
                <li><a href="#!/">Profile</a></li>
                <li><a href="#!/">Rankings</a></li>
                <li><a href="#!/">Ranking Details</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type="submit" class="btn" ng-click="goLogout()"><span class="glyphicon glyphicon-log-out"></span>Log Out</button>
            </form>
        </div>
    </nav>

    <div ng-show="showItemAdmin">
        <h1>X-FIFA Fantasy Cup</h1>
    </div>
    <nav class="navbar navbar-inverse" ng-show="showItemAdmin">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li><a href="#!/adminCalendar">Calendar</a></li>
                <li><a href="#!/adminProfile">Profile</a></li>
                <li><a href="#!/">Rankings</a></li>
                <li><a href="#!/">Soccer Players</a></li>
                <li><a href="#!/">Sponsors</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type="submit" class="btn" ng-click="goLogout()"><span class="glyphicon glyphicon-log-out"></span>Log Out</button>
            </form>
        </div>
    </nav>

    <div ng-view></div>
</body>
</html>